# Venture Funding with Deep Learning

In [84]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [85]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('./Resources/applicants_data.csv')
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [86]:
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [87]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_df = applicant_data_df.drop(columns=['EIN', 'NAME'])
applicant_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [88]:
# Create a list of categorical variables 
categorical = list(applicant_df.dtypes[applicant_df.dtypes=='object'].index)

In [89]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [90]:
# Encode the categorcal variables using OneHotEncoder
cats_encoded = enc.fit_transform(applicant_df[categorical])
cats_encoded

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [91]:
# Create a DataFrame with the encoded variables
encoded_df_1= pd.DataFrame(cats_encoded,columns=enc.get_feature_names(categorical))
encoded_df_1

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [92]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df =  pd.concat([applicant_data_df[['ASK_AMT', 'IS_SUCCESSFUL','STATUS']], encoded_df_1], axis=1)
encoded_df

,ASK_AMT,IS_SUCCESSFUL,STATUS,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,5000,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,36500179,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [93]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']
type(y)

pandas.core.series.Series

In [94]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
x = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
# YOUR CODE HERE
x

,ASK_AMT,STATUS,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,36500179,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [95]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [96]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train) 

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

In [111]:
# Define the the features
number_input_features = 116
number_output_neurons = 60
hidden_nodes_layer1 = 75
hidden_nodes_layer2 = 55

In [112]:
# Create the Sequential model instance
nn = Sequential()

In [113]:
# Add the first hidden layer
nn.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer1, activation="relu"))

In [114]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation='relu'))

In [115]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [116]:
nn.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_11 (Dense)             (None, 75)                8775
_________________________________________________________________
dense_12 (Dense)             (None, 55)                4180
_________________________________________________________________
dense_13 (Dense)             (None, 1)                 56
=================================================================
Total params: 13,011
Trainable params: 13,011
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [117]:
# Compile the Sequential model
nn.compile(loss=["binary_crossentropy"], optimizer="adam", metrics=["accuracy"])

In [118]:
# Fit the model using 50 epochs and the training data
model_1 = nn.fit(X_train_scaled, y_train, validation_split=0.3, epochs=50)

Epoch 1/50
563/563 [==============================] - 1s 1ms/step - loss: 0.6129 - accuracy: 0.6868 - val_loss: 0.5538 - val_accuracy: 0.7389
Epoch 2/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5532 - accuracy: 0.7266 - val_loss: 0.5537 - val_accuracy: 0.7385
Epoch 3/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5492 - accuracy: 0.7311 - val_loss: 0.5594 - val_accuracy: 0.7358
Epoch 4/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7345 - val_loss: 0.5550 - val_accuracy: 0.7365
Epoch 5/50
563/563 [==============================] - 1s 991us/step - loss: 0.5470 - accuracy: 0.7303 - val_loss: 0.5670 - val_accuracy: 0.7265
Epoch 6/50
563/563 [==============================] - 1s 993us/step - loss: 0.5470 - accuracy: 0.7344 - val_loss: 0.5631 - val_accuracy: 0.7334
Epoch 7/50
563/563 [==============================] - 1s 972us/step - loss: 0.5543 - accuracy: 0.7241 - val_loss: 0.5527 - val_accuracy: 0.7374
Epoch 8/50
563/563 [==============================] - 1s 960us/step - loss: 0.5462 - accuracy: 0.7316 - val_loss: 0.5620 - val_accuracy: 0.7313
Epoch 9/50
563/563 [==============================] - 1s 964us/step - loss: 0.5416 - accuracy: 0.7353 - val_loss: 0.5588 - val_accuracy: 0.7334
Epoch 10/50
563/563 [==============================] - 1s 957us/step - loss: 0.5451 - accuracy: 0.7304 - val_loss: 0.5566 - val_accuracy: 0.7370
Epoch 11/50
563/563 [==============================] - 1s 959us/step - loss: 0.5413 - accuracy: 0.7303 - val_loss: 0.5563 - val_accuracy: 0.7381
Epoch 12/50
563/563 [==============================] - 1s 982us/step - loss: 0.5424 - accuracy: 0.7355 - val_loss: 0.5576 - val_accuracy: 0.7383
Epoch 13/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7364 - val_loss: 0.5586 - val_accuracy: 0.7322
Epoch 14/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7388 - val_loss: 0.5663 - val_accuracy: 0.7300
Epoch 15/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7307 - val_loss: 0.5557 - val_accuracy: 0.7367
Epoch 16/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7320 - val_loss: 0.5618 - val_accuracy: 0.7337
Epoch 17/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7336 - val_loss: 0.5586 - val_accuracy: 0.7374
Epoch 18/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7384 - val_loss: 0.5682 - val_accuracy: 0.7304
Epoch 19/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7326 - val_loss: 0.5599 - val_accuracy: 0.7371
Epoch 20/50
563/563 [==============================] - 1s 956us/step - loss: 0.5358 - accuracy: 0.7369 - val_loss: 0.5600 - val_accuracy: 0.7348
Epoch 21/50
563/563 [==============================] - 1s 986us/step - loss: 0.5317 - accuracy: 0.7403 - val_loss: 0.5620 - val_accuracy: 0.7331
Epoch 22/50
563/563 [==============================] - 1s 962us/step - loss: 0.5433 - accuracy: 0.7300 - val_loss: 0.5611 - val_accuracy: 0.7367
Epoch 23/50
563/563 [==============================] - 1s 962us/step - loss: 0.5371 - accuracy: 0.7363 - val_loss: 0.5602 - val_accuracy: 0.7359
Epoch 24/50
563/563 [==============================] - 1s 967us/step - loss: 0.5364 - accuracy: 0.7354 - val_loss: 0.5610 - val_accuracy: 0.7336
Epoch 25/50
563/563 [==============================] - 1s 965us/step - loss: 0.5339 - accuracy: 0.7373 - val_loss: 0.5602 - val_accuracy: 0.7363
Epoch 26/50
563/563 [==============================] - 1s 959us/step - loss: 0.5381 - accuracy: 0.7312 - val_loss: 0.5622 - val_accuracy: 0.7348
Epoch 27/50
563/563 [==============================] - 1s 971us/step - loss: 0.5329 - accuracy: 0.7378 - val_loss: 0.5601 - val_accuracy: 0.7350
Epoch 28/50
563/563 [==============================] - 1s 964us/step - loss: 0.5405 - accuracy: 0.7334 - val_loss: 0.5668 - val_accuracy: 0.7346
Epoch 29/50
563/563 [==============================] - 1s 963us/step - loss: 0.5373 - accuracy: 0.7353 - val_loss: 0.5658 - val_accuracy: 0.7339
Epoch 30/50
563/563 [==============================] - 1s 961us/step - loss: 0.5293 - accuracy: 0.7388 - val_loss: 0.5634 - val_accuracy: 0.7348
Epoch 31/50
563/563 [==============================] - 1s 957us/step - loss: 0.5370 - accuracy: 0.7357 - val_loss: 0.5652 - val_accuracy: 0.7368
Epoch 32/50
563/563 [==============================] - 1s 961us/step - loss: 0.5308 - accuracy: 0.7395 - val_loss: 0.5581 - val_accuracy: 0.7387
Epoch 33/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7404 - val_loss: 0.5646 - val_accuracy: 0.7358
Epoch 34/50
563/563 [==============================] - 1s 961us/step - loss: 0.5314 - accuracy: 0.7346 - val_loss: 0.5668 - val_accuracy: 0.7374
Epoch 35/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7423 - val_loss: 0.5663 - val_accuracy: 0.7339
Epoch 36/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7414 - val_loss: 0.5652 - val_accuracy: 0.7328
Epoch 37/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5295 - accuracy: 0.7406 - val_loss: 0.5603 - val_accuracy: 0.7363
Epoch 38/50
563/563 [==============================] - 1s 972us/step - loss: 0.5349 - accuracy: 0.7356 - val_loss: 0.5653 - val_accuracy: 0.7370
Epoch 39/50
563/563 [==============================] - 1s 975us/step - loss: 0.5249 - accuracy: 0.7434 - val_loss: 0.5638 - val_accuracy: 0.7327
Epoch 40/50
563/563 [==============================] - 1s 974us/step - loss: 0.5336 - accuracy: 0.7382 - val_loss: 0.5668 - val_accuracy: 0.7334
Epoch 41/50
563/563 [==============================] - 1s 981us/step - loss: 0.5290 - accuracy: 0.7428 - val_loss: 0.5656 - val_accuracy: 0.7371
Epoch 42/50
563/563 [==============================] - 1s 963us/step - loss: 0.5287 - accuracy: 0.7423 - val_loss: 0.5660 - val_accuracy: 0.7350
Epoch 43/50
563/563 [==============================] - 1s 966us/step - loss: 0.5266 - accuracy: 0.7459 - val_loss: 0.5662 - val_accuracy: 0.7344
Epoch 44/50
563/563 [==============================] - 1s 963us/step - loss: 0.5342 - accuracy: 0.7413 - val_loss: 0.5683 - val_accuracy: 0.7368
Epoch 45/50
563/563 [==============================] - 1s 962us/step - loss: 0.5267 - accuracy: 0.7436 - val_loss: 0.5658 - val_accuracy: 0.7387
Epoch 46/50
563/563 [==============================] - 1s 967us/step - loss: 0.5329 - accuracy: 0.7368 - val_loss: 0.5665 - val_accuracy: 0.7367
Epoch 47/50
563/563 [==============================] - 1s 971us/step - loss: 0.5336 - accuracy: 0.7392 - val_loss: 0.5688 - val_accuracy: 0.7367
Epoch 48/50
563/563 [==============================] - 1s 966us/step - loss: 0.5325 - accuracy: 0.7384 - val_loss: 0.5667 - val_accuracy: 0.7384
Epoch 49/50
563/563 [==============================] - 1s 970us/step - loss: 0.5280 - accuracy: 0.7411 - val_loss: 0.5720 - val_accuracy: 0.7362
Epoch 50/50
563/563 [==============================] - 1s 968us/step - loss: 0.5260 - accuracy: 0.7440 - val_loss: 0.5729 - val_accuracy: 0.7362

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [119]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5584 - accuracy: 0.7283
Loss: 0.5583677887916565, Accuracy: 0.7282798886299133

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [121]:
# Set the model's file path
file_path = Path("./")
AlphabetSoup = nn.save(file_path)

INFO:tensorflow:Assets written to: ./assets

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [128]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [129]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 60
hidden_nodes_layer1_A1 = 35

In [130]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [132]:
# First hidden layer
nn_A1.add(Dense(input_dim = number_input_features, units=number_output_neurons_A1, activation='relu')) #tanh, 
nn_A1.add(Dense(units=1, activation="linear"))
nn_A1.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_14 (Dense)             (None, 60)                7020
_________________________________________________________________
dense_15 (Dense)             (None, 1)                 61
=================================================================
Total params: 7,081
Trainable params: 7,081
Non-trainable params: 0
_________________________________________________________________

In [133]:
# Compile the Sequential model
nn_A1.compile(loss=["mean_squared_error"], optimizer="adam", metrics=["accuracy"])

In [134]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50, verbose=2)

Epoch 1/50
804/804 - 1s - loss: 0.6004 - accuracy: 0.7028
Epoch 2/50
804/804 - 0s - loss: 0.2844 - accuracy: 0.7196
Epoch 3/50
804/804 - 1s - loss: 0.2565 - accuracy: 0.7222
Epoch 4/50
804/804 - 1s - loss: 0.2594 - accuracy: 0.7224
Epoch 5/50
804/804 - 1s - loss: 0.2794 - accuracy: 0.7236
Epoch 6/50
804/804 - 1s - loss: 0.2469 - accuracy: 0.7246
Epoch 7/50
804/804 - 0s - loss: 0.2411 - accuracy: 0.7259
Epoch 8/50
804/804 - 0s - loss: 0.2391 - accuracy: 0.7265
Epoch 9/50
804/804 - 0s - loss: 0.2285 - accuracy: 0.7270
Epoch 10/50
804/804 - 0s - loss: 0.2171 - accuracy: 0.7300
Epoch 11/50
804/804 - 0s - loss: 0.2056 - accuracy: 0.7288
Epoch 12/50
804/804 - 0s - loss: 0.2027 - accuracy: 0.7278
Epoch 13/50
804/804 - 0s - loss: 0.2020 - accuracy: 0.7305
Epoch 14/50
804/804 - 0s - loss: 0.2008 - accuracy: 0.7311
Epoch 15/50
804/804 - 0s - loss: 0.1969 - accuracy: 0.7307
Epoch 16/50
804/804 - 0s - loss: 0.1974 - accuracy: 0.7306
Epoch 17/50
804/804 - 0s - loss: 0.1930 - accuracy: 0.7317
Epoch 18/50
804/804 - 0s - loss: 0.1909 - accuracy: 0.7313
Epoch 19/50
804/804 - 0s - loss: 0.1913 - accuracy: 0.7315
Epoch 20/50
804/804 - 0s - loss: 0.1910 - accuracy: 0.7304
Epoch 21/50
804/804 - 0s - loss: 0.1886 - accuracy: 0.7331
Epoch 22/50
804/804 - 0s - loss: 0.1882 - accuracy: 0.7318
Epoch 23/50
804/804 - 0s - loss: 0.1904 - accuracy: 0.7310
Epoch 24/50
804/804 - 0s - loss: 0.1882 - accuracy: 0.7309
Epoch 25/50
804/804 - 0s - loss: 0.1879 - accuracy: 0.7306
Epoch 26/50
804/804 - 0s - loss: 0.1856 - accuracy: 0.7316
Epoch 27/50
804/804 - 0s - loss: 0.1858 - accuracy: 0.7326
Epoch 28/50
804/804 - 1s - loss: 0.1864 - accuracy: 0.7310
Epoch 29/50
804/804 - 0s - loss: 0.1885 - accuracy: 0.7322
Epoch 30/50
804/804 - 1s - loss: 0.1872 - accuracy: 0.7330
Epoch 31/50
804/804 - 0s - loss: 0.1872 - accuracy: 0.7325
Epoch 32/50
804/804 - 0s - loss: 0.1879 - accuracy: 0.7338
Epoch 33/50
804/804 - 0s - loss: 0.1856 - accuracy: 0.7326
Epoch 34/50
804/804 - 0s - loss: 0.1845 - accuracy: 0.7332
Epoch 35/50
804/804 - 0s - loss: 0.1850 - accuracy: 0.7332
Epoch 36/50
804/804 - 0s - loss: 0.1873 - accuracy: 0.7324
Epoch 37/50
804/804 - 0s - loss: 0.1865 - accuracy: 0.7336
Epoch 38/50
804/804 - 0s - loss: 0.1849 - accuracy: 0.7334
Epoch 39/50
804/804 - 0s - loss: 0.1839 - accuracy: 0.7346
Epoch 40/50
804/804 - 0s - loss: 0.1848 - accuracy: 0.7336
Epoch 41/50
804/804 - 0s - loss: 0.1868 - accuracy: 0.7327
Epoch 42/50
804/804 - 0s - loss: 0.1852 - accuracy: 0.7341
Epoch 43/50
804/804 - 0s - loss: 0.1837 - accuracy: 0.7344
Epoch 44/50
804/804 - 0s - loss: 0.1856 - accuracy: 0.7323
Epoch 45/50
804/804 - 0s - loss: 0.1852 - accuracy: 0.7347
Epoch 46/50
804/804 - 0s - loss: 0.1862 - accuracy: 0.7337
Epoch 47/50
804/804 - 0s - loss: 0.1853 - accuracy: 0.7347
Epoch 48/50
804/804 - 0s - loss: 0.1835 - accuracy: 0.7343
Epoch 49/50
804/804 - 0s - loss: 0.1841 - accuracy: 0.7348
Epoch 50/50
804/804 - 0s - loss: 0.1847 - accuracy: 0.7327

#### Alternative Model 2

In [139]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [140]:
number_output_neurons_A2 = 62
hidden_nodes_layer1_A2 = 25 
nn_A2 = Sequential()

In [143]:
nn_A2.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer1_A2, activation="relu"))
nn_A2.add(Dense(units=number_output_neurons_A2, activation="linear"))
nn_A2.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])
X_train.head()

,ASK_AMT,STATUS,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
10679,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5052,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9990,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25173,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
11405,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [144]:
nn_A1.compile(loss=["mean_squared_error"], optimizer="adam", metrics=["accuracy"])

In [ ]:
# First hidden layer
# YOUR CODE HERE

# Output layer
# YOUR CODE HERE

# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the model
# YOUR CODE HERE

In [ ]:
# Fit the model
# YOUR CODE HERE

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [145]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5584 - accuracy: 0.7283
Loss: 0.5583677887916565, Accuracy: 0.7282798886299133

In [147]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.1871 - accuracy: 0.7324
Loss: 0.18709127604961395, Accuracy: 0.7323614954948425

In [148]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.8968 - mse: 0.8968
Loss: 0.8968020677566528, Accuracy: 0.8968020677566528

### Step 3: Save each of your alternative models as an HDF5 file.

In [150]:
# Set the file path for the first alternative model
file_path = "./challenge_13_1a.pb"
nn_A2.save(file_path)

INFO:tensorflow:Assets written to: ./challenge_13_1a.pb/assets

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [151]:
file_path = "./challenge_13_2a.pb"
nn_A2.save(file_path)

INFO:tensorflow:Assets written to: ./challenge_13_2a.pb/assets